body {
  width: 1440px;
  height: 7872px;
}
.topnav {
  color: #463df5;
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 36px;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  gap: 500px;
}
.navstyle {
  display: flex;
  width: 1440px;
  height: 101px;
  border-radius: 0px 0px 50px 50px;
  background-color: #efefee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
